@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}
 ::-webkit-scrollbar-track {
    background: none;
}
 ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}
 ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}
.fadeUp {
    opacity: 0;
    transition: all 0.4s;
}
.fadeMiddle {
    opacity: 0;
    transition: all 0.2s;

}
.fadeUpShow,
.fadeMiddleShow {
    opacity: 1;
}
.fadeUp {
    transform: translateY(100%);
}
.fadeUpShow {
    transform: translateY(0);
}
.fadeMiddle {
    transform: scale(0);
}
.fadeMiddleShow {
    transform: scale(1);
}
 :root {
    background-color: #601ce9;
    --large-font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    --medium-font-size: clamp(1rem, 1vw + 0.7rem, 1.5rem);
    --small-font-size: clamp(0.9rem, 1vw + 0.3rem, 1.1rem);
    --tiny-font-size: clamp(0.8rem, 1vw + 0.1rem, 0.9rem);
    --transparent-background : rgba(255, 255, 255, 0.25);
    --white : #eeeeee;
}
html {
    background: -webkit-linear-gradient(#601ce9, #8E2DE2);
    background: linear-gradient(#601ce9, #8E2DE2);
    color: var(--white);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}
body {
    margin: 0 8vw 0 8vw;
    width: min(100%, 1200px);
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
}
#loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loadingCircle {
    width: clamp(3rem, 5vw + 3rem, 6rem);
    height: auto;
}
#currentWeather {
    width: max-content;
    border-radius: 1.3rem;
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 0 0;
    padding: clamp(0.7rem, 1vw + 0.2rem, 1.3rem) clamp(1rem, 1vw + 0.6rem, 1.5rem);
    background: var(--transparent-background);
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
}
#flexContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.flexSearch {
    justify-content: space-around;
    margin: 0 0.25rem;
}
#currentLocation {
    font-size: var(--medium-font-size);
    font-weight: 400;
    margin: 0;
}
#currentTemp {
    margin: 0;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    font-weight: 500;
}
#currentConditions, #highLow {
    font-size: var(--small-font-size);
    margin: 0.2vw 0 0 0;
    font-weight: 400;
}
#currentIcon {
    margin: 0 0 0 clamp(0.1rem, 0.2vw + 0.2rem, 0.4rem);
    width: clamp(1rem, 1.2vw + 1rem, 2.2rem);
}
.flexAlerts {
    display: flex;
    gap: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem);
    width: 100%;
}
#rainDisplay, #alertsDisplay {
    display: none;
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 0 0;
    border: 0.25rem solid var(--transparent-background);
    border-radius: 1.3rem;
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
}
#alertsDisplay {
    width: 30%;
}
#rainDisplay {
    width: 70%;
}
#rainDisplayTitle, #alertsDisplayTitle {
    font-size: var(--small-font-size);
    font-weight: 600;
    padding: clamp(0.5rem, 0.4vw + 0.4rem, 1rem) clamp(0.7rem, 1vw + 0.2rem, 1.3rem) 0 clamp(0.7rem, 1vw + 0.2rem, 1.3rem);
    margin: 0;
}
#alertsDisplayInfo {
    padding: clamp(0.2rem, 0.1vw + 0.1rem, 0.5rem) clamp(0.7rem, 1vw + 0.2rem, 1.3rem) clamp(0.5rem, 0.4vw + 0.4rem, 1rem) clamp(0.7rem, 1vw + 0.2rem, 1.3rem);
    font-size: var(--tiny-font-size);
    margin: 0.2rem 0;
}
#rainChart {
    border-radius: 0px;
}
#rainChartContainer {
    padding: clamp(0.2rem, 0.2vw + 0.2rem, 0.4rem) 0 clamp(0.1rem, 0.1vw + 0.1rem, 0.2rem) 0;
    height: clamp(3rem, 2vw + 1rem, 6rem);
    margin: 0 clamp(0.7rem, 1vw + 0.2rem, 1.3rem);
}
#rainDisplayLabels {
    padding: 0;
    border-top: 3.5px solid rgba(255, 255, 255, 0.2);
    margin: 0 clamp(0.7rem, 1vw + 0.2rem, 1.3rem);
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}
.now, .thirty, .sixty {
    font-size: var(--tiny-font-size);
    margin: clamp(0.1rem, 0.1rem + 0.1rem, 0.3rem) 0 clamp(0.5rem, 0.4vw + 0.4rem, 1rem) 0;
    padding: 0;
}
.now {
    text-align: left;
}
.thirty {
    text-align: center;
}
.sixty {
    text-align: right;
}
.forecast {
    padding: 0;
    background: var(--transparent-background);
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
    grid-auto-flow: column;
    overflow-y: auto;
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 0 0;
    border-radius: 1.3rem;
    display: flex;
    justify-content: space-around;
}
.forecast li {
    cursor: pointer;
    border-radius: 1.3rem;
    transition: 0.15s;
    text-align: center;
    list-style: none;
    width: 100%;
}
.forecast li:hover {
    background: rgba(255, 255, 255, 0.15);
}
.forecast h2 {
    margin: clamp(0.5rem, 0.4vw + 0.4rem, 1rem) 0 clamp(0.5rem, 0.4vw + 0.4rem, 1rem) 0 ;
    font-size: var(--small-font-size);
    font-weight: 600;
    width: 100%;
}
.forecast h3 {
    margin: clamp(0.5rem, 0.4vw + 0.4rem, 1rem) 0 clamp(0.5rem, 0.4vw + 0.4rem, 1rem) 0 ;
    font-size: calc(var(--small-font-size) * 0.9);
    font-weight: 400;
}
#dailyForecast, #dailyForecast2 {
    line-height: clamp(1.5rem, 1.5vw + 0.6rem, 2rem);
}
.forecast img {
    width: clamp(1rem, 1.3vw + 1rem, 2rem);
    height: auto;
    margin: 0;
}
.flexForecast {
    display: flex;
    gap: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem);
}
.forecasts {
    width: 75%;
}
#currentLocationMap {
    width: 25%;
    height: auto;
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 0 0;
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
}
canvas {
    border-radius: 1.3rem;
}
#searchBar {
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 0 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
    border-radius: 100px;
    transition: 0.15s all;
}
#searchBar:hover {
    background: var(--transparent-background);
}
input {
    font-family: 'Inter';
    font-weight: 400;
    border: none;
    width: 92%;
    background: rgba(255, 255, 255, 0);
    outline: none;
    font-size: var(--small-font-size);
    color: #eeeeee;
    padding: clamp(0.4rem, 0.3vw + 0.3rem, 0.5rem) 0;
}
::placeholder {
    color: #eeeeee;
}
#searchLogo {
    width: clamp(1rem, 1vw + 0.5rem, 1.1rem);
    height: 100%;
    cursor: pointer;
}
.searchForecast {
    margin: 0 2vw clamp(1rem, 0.75vw + 0.75rem, 2rem) 2vw;
}
#searchLocation {
    display: none;
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 clamp(1rem, 1.5vw + 1.5rem, 2rem) 0;
    border: 0.25rem solid rgba(255, 255, 255, 0.20);
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
    border-radius: 2.5rem;
}
#errorText {
    display: none;
    margin: clamp(0.5rem, 1vw + 1rem, 1rem) 1.5vw;
    font-size: clamp(1rem, 1vw + 0.7rem, 1.2rem);
    font-weight: 400;
}
#closeSearch {
    position: absolute;
    right: 1.5vw;
    margin: clamp(0.5rem, .75vw + .7rem, 2rem) 0 0 clamp(0.1rem, 0.2vw + 0.2rem, 0.4rem) !important;
    transition: 0.25s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
#closeSearch:hover {
    transform: scale(1.3);
}
#searchLocationTitle {
    font-size: clamp(1rem, 1vw + 0.7rem, 1.5rem);
    font-weight: 400;
    margin: clamp(1rem, .75vw + .75rem, 2rem) 0 0 2vw;
    display: inline-block;
    vertical-align: middle;
}
#searchLocationImg, #closeSearch {
    margin: clamp(1rem, .75vw + .75rem, 2rem) 0 0 clamp(0.1rem, 0.2vw + 0.2rem, 0.4rem);
    width: clamp(1rem, 1.2vw + 1rem, 2.2rem);
    display: inline-block;
    vertical-align: middle;
}
#searchLocationTemp {
    margin: 0 0 0 2vw;
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    font-weight: 500;
}
#searchLocationInfo {
    font-size: clamp(0.75rem, 0.8vw + 0.3rem, 1rem);
    margin: 0 0 0 2vw;
    font-weight: 400;
    line-height: clamp(1rem, 1vw + 0.7rem, 1.5rem);
}
#searchLocationMap {
    width: 25%;
    height: auto;
    margin: clamp(0.8rem, 0.9vw + 0.9rem, 1.5rem) 0 0 0;
    box-shadow: 0 2px 32px 0 rgba(119, 119, 119, 0.163);
}
#infoPanel {
    position: fixed;
    bottom: 0;
    background-color: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    box-shadow: 0px 0px 20px 10px rgba(76, 76, 76, .45);
    border-radius: 25px 25px 0 0;
    z-index: 2;
}
#closeInfoPanel {
    margin: clamp(0.7rem, .6vw + .6rem, 1.2rem) clamp(1rem, 1vw + 1rem, 2rem) clamp(1rem, 1vw + 1rem, 2rem) clamp(1rem, 1vw + 1rem, 2rem);
    border-radius: 12px;
    text-align: center;
    font-size: clamp(0.6rem, 0.8vw + 0.5rem, 1rem);
    padding: clamp(0.3rem, 0.25vw + 0.25rem, 1rem);
    font-weight: 600;
    color: black;
    mix-blend-mode: screen;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: .2s all;
}
#closeInfoPanel:hover {
    background: rgba(255, 255, 255, 0.8);
}
#infoPanelImg {
    margin: clamp(1rem, 1vw + 0.5rem, 2rem) 0 0 clamp(1rem, 1vw + 1rem, 2rem);
    width: clamp(1rem, 1.3vw + 1rem, 2.2rem);
}
#infoPanelTitle {
    margin: clamp(0.2rem, .2vw + .2rem, .5rem) 0 0 clamp(1rem, 1vw + 1rem, 2rem);
    font-size: clamp(1rem, 1vw + 0.7rem, 1.5rem);
    font-weight: 400;
}
#infoPanelTemp {
    margin: clamp(0.2rem, .2vw + .2rem, .5rem) 0 0 clamp(1rem, 1vw + 1rem, 2rem);
    font-size: clamp(1.5rem, 2vw + 1.5rem, 3rem);
    font-weight: 500;
}
#infoPanelInfo {
    margin: clamp(0.2rem, .2vw + .2rem, .5rem) clamp(1rem, 1vw + 1rem, 2rem) 0 clamp(1rem, 1vw + 1rem, 2rem);
    font-size: clamp(0.75rem, 0.8vw + 0.3rem, 1rem);
    font-weight: 400;
    line-height: clamp(1rem, 1vw + 0.7rem, 1.5rem);
}
#infoPanelBackground {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    border-radius: 25px 25px 0 0;
    z-index: -1;
}
#footer {
    margin: clamp(1rem, 1.5vw + 1.5rem, 3rem) 0 0 0;
    text-align: center;
}
#refresh {
    width: clamp(1rem, 1vw + 0.5rem, 1.3rem);
    padding: clamp(1rem, 1.2vw, 1.2rem);
    cursor: pointer;
}
#footerInfo {
    margin: 0;
    padding-bottom: clamp(0.5rem, 1vw + 0.7rem, 1.1rem);
    font-size: clamp(0.8rem, 0.8vw + 0.1rem, 0.8rem);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

@media screen and (orientation: portrait) and (max-width: 768px) {
    body {
        margin: 0;
    }
    #currentWeather {
        width: 100%;
        text-align: center;
        background: none;
        margin: clamp(2rem, 1.5vw + 1.5rem, 3rem) 0 0 0;
        padding: 0;
    }
    .flexCenter {
        justify-content: center;
    }
    .flexLeft {
        justify-content: flex-start !important;
    }
    #currentLocation {
        font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
    }
    #currentTemp {
        font-size: clamp(1rem, 4vw + 4rem, 5rem);
    }
    #currentConditions, #highLow {
        font-size: clamp(1rem, 1vw + 0.9rem, 2rem);
    }
    #currentIcon {
        width: clamp(2rem, 1.9vw + 1.9rem, 3rem);
        margin: 0 0 0 clamp(0.3rem, 0.3vw + 0.3rem, 0.7rem);
    }
    .flexAlerts {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    #rainDisplay, #alertsDisplay {
        width: 90vw;
        box-sizing: border-box;
        margin: clamp(2rem, 1.5vw + 1.5rem, 4rem) 5vw 0 5vw;
    }
    #rainChartContainer {
        padding: clamp(0.1rem, 0.2vw, 0.4rem) 0  clamp(0.2rem, 0.2vw + 0.2rem, 0.5rem) 0;
        height: clamp(4rem, 10vw, 8rem);
    }
    #rainDisplayTitle, #alertsDisplayTitle {
        font-size: clamp(1rem, 1vw + 0.9rem, 2rem)!important;
        padding: clamp(0.5rem, 0.5vw + 0.5rem, 1rem)0 0 0;
        text-align: center;
    }
    #alertsDisplayInfo {
        font-size: clamp(0.8rem, 1vw + 0.8rem, 1.8rem) !important;
        padding: clamp(0.5rem, 0.5vw + 0.5rem, 1rem) clamp(0.5rem, 0.7vw + 0.7rem, 1rem) clamp(0.5rem, 0.7vw + 0.7rem, 1rem) clamp(0.5rem, 0.7vw + 0.7rem, 1rem) !important;
        text-align: center;
        margin: 0;
    }
    .flexForecast {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .forecasts {
        width: 100%;
    }
    .forecast li:hover {
        background: none;
    }
    .forecast h2 {
        margin: clamp(0.5rem, 0.5vw + 0.5rem, 1rem) 0 clamp(0.5rem, 0.5vw + 0.5rem, 1rem) 0 !important;
        font-size: clamp(1rem, 1vw + 0.9rem, 2rem) !important;
    }
    .forecast h3 {
        margin: clamp(0.5rem, 0.5vw + 0.5rem, 1rem) 0 clamp(0.5rem, 0.5vw + 0.5rem, 1rem) 0 !important;
        font-size: clamp(0.8rem, 1vw + 0.8rem, 1.8rem) !important;
    }
    .forecast img {
        width: clamp(1rem, 2vw + 1.5rem, 3rem)!important;
        margin: 0!important;
    }
    #hourlyForecast,
    #hourlyForecast2,
    #dailyForecast,
    #dailyForecast2 {
        margin: clamp(2rem, 1.5vw + 1.5rem, 4rem) 5vw 0 5vw;
        display: grid;
        justify-content: revert;
    }
    #hourlyForecast li,
    #dailyForecast li {
        width: 19.7vw;
        cursor: pointer;
    }
    #dailyForecast2 {
        margin: clamp(1rem, .75vw + .75rem, 2rem) 5vw 5vw 5vw!important;
     }
    .searchLocationForecast {
        margin: clamp(1rem, .75vw + .75rem, 2rem) 5vw 0 5vw!important;
    }
    .searchLocationForecast li {
        width: 17.5vw!important;
    }
    #hourlyForecast2 li {
        width: 17.5vw!important;
    }
    #dailyForecast h3 {
        line-height: clamp(1.5rem, 1.5vw + 1.1rem, 3rem);
    }
    #currentLocationMap {
        margin: clamp(2rem, 1.5vw + 1.5rem, 4rem) 5vw 0 5vw;
        height: clamp(8rem, 8vw + 8rem, 15rem);
        width: -webkit-fill-available;
    }
    .flexSearch {
        margin: 0 1.2rem;
    }
    #searchBar {
        margin: clamp(2rem, 1.5vw + 1.5rem, 4rem) 5vw clamp(2rem, 1.5vw + 1.5rem, 4rem) 5vw;
    }
    #searchBar:hover {
        background: rgba(255, 255, 255, 0.20);
    }
    input {
        font-size: clamp(1rem, 1vw + 1rem, 2rem);
        padding: clamp(0.5rem, 0.5vw + 0.5rem, 1rem) 0;
    }
    #searchLogo {
        width: clamp(1rem, 1.5vw + 1rem, 3rem);
    }
    #searchLocation {
        margin: 0 5vw clamp(2rem, 1.5vw + 1.5rem, 4rem) 5vw;
    }
    #errorText {
        font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
        margin: clamp(0.5rem, 1vw + 1rem, 1rem) 5vw;
    }
    #closeSearch {
        margin: clamp(0.5rem, .75vw + .7rem, 1rem) 0 0 0 !important;
        right: 3.5vw;
    }
    .searchForecast {
        margin: 0;
    }
    #searchLocationTitle {
        font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
        margin: clamp(1rem, .75vw + .75rem, 2rem) 0 0 5vw;
    }
    #searchLocationImg, #closeSearch {
        margin: clamp(1rem, .75vw + .75rem, 2rem) 0 0 clamp(0.3rem, 0.3vw + 0.3rem, 0.7rem);
        width: clamp(2rem, 1.9vw + 1.9rem, 3rem);
    }
    #searchLocationTemp {
        margin: 0 0 0 5vw;
        font-size: clamp(1rem, 3vw + 3rem, 4rem);
    }
    #searchLocationInfo {
        font-size: clamp(1rem, 1vw + 0.9rem, 2rem);
        margin: 0 0 0 5vw;
        line-height: clamp(1rem, 1vw + 1.5rem, 3rem);
    }
    #searchLocationMap {
        margin: 0 5vw 5vw 5vw;
        height: clamp(8rem, 8vw + 8rem, 15rem);
        width: -webkit-fill-available;
    }
    #infoPanel {
        width: 100%;
    }
    #closeInfoPanel {
        margin: clamp(1rem, 1vw + 1rem, 2rem) clamp(0.8rem, 1.2vw + 1.2rem, 2rem) clamp(2rem, 2vw + 2rem, 3rem) clamp(0.8rem, 1.2vw + 1.2rem, 2rem);
        font-size: clamp(1.1rem, 1.1vw + 1.1rem, 2rem);
        padding: clamp(0.5rem, 0.5vw + 0.5rem, 1.5rem);
    }
    #infoPanelImg {
        margin: clamp(0.5rem, 1vw + 0.9rem, 1.8rem) 0 0 clamp(0.8rem, 1.2vw + 1.2rem, 2rem);
        width: clamp(2rem, 2.2vw + 2.2rem, 3rem);
    }
    #infoPanelTitle {
        margin: clamp(0.5rem, .375vw + .375rem, 1rem) 0 0 clamp(0.8rem, 1.2vw + 1.2rem, 2rem);
        font-size: clamp(1rem, 1.5vw + 1.5rem, 3rem);
    }
    #infoPanelTemp {
        margin: clamp(0.5rem, .375vw + .375rem, 1rem) 0 0 clamp(0.8rem, 1.2vw + 1.2rem, 2rem);
        font-size: clamp(1rem, 3vw + 3rem, 4rem);
    }
    #infoPanelInfo {
        margin: clamp(0.5rem, .375vw + .375rem, 1rem) 0 0 clamp(0.8rem, 1.2vw + 1.2rem, 2rem);
        font-size: clamp(1rem, 1vw + 0.9rem, 2rem);
        line-height: clamp(1.5rem, 2vw + 1.5rem, 2.5rem);
    }
    #footer {
        margin: clamp(3rem, 3.5vw + 3.5rem, 6rem) 0 clamp(1rem, 1vw + 1.5rem, 2.2rem) 0;
    }
    #refresh {
        width: clamp(1.5rem, 1.3vw + 1.3rem, 2.5rem);
        padding: clamp(1rem, 2vw, 2rem);
    }
    #footerInfo {
        font-size: clamp(0.8rem, 1vw + 0.4rem, 2rem);
    }
}